::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-track {
	background-color: #d6d4e0;
}

::-webkit-scrollbar-thumb {
	background-color: #5b999f;
	border: 3px solid #d6d4e0;
	border-radius: 30px;
}

.toolbar-btns {
	position: relative;
	border-radius: 30px;
	padding: 5px 12px;
	transition: all 0.2s ease-in-out;
}

.toolbar-btns:hover {
	background-color: #d6d4e0;
}

.toolbar-btns::before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}

.toolbar-btns__active {
	background-color: #5b9aa0;
	color: #fff;
}

.toolbar-btns__active:hover {
	background-color: #5b9aa0;
}

.color-navigation {
	
}